*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
nav{
  display: flex;
  height: 50px;
  top: 0px;
  right: 0px;
  left: 0px;
  position: fixed;
  background-color: white;
}
ul{
  list-style-type: none;
  display: inherit;
  margin: auto;
}
li a{
  text-decoration: none;
  margin-right: 100px;
  color: #2f3038;
}
nav img{
  width: 50px;
}
.head{
  background-color: #2f3038;
  height: 31.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-top: 60px;
}
.head h1{
  margin-bottom: 20px;
}
.demoimg img{
  width: 350px;
}
.tab{
  width: 100px;
}
.bound{
  border: 0.5px solid rgba(43,45, 47, 0.5);
  margin-top: 40px;
}
.demoimg{
  display: flex;
  justify-content: center;
}
#portfolio{
  text-align: center;
  background-color: rgba(248,248,255,0.5);
  width: 85%;
  margin: 100px auto 0 auto;
}
.soko{
  text-align: center;
  margin-top: 60px;
}
.soko h2{
  margin-bottom: 10px;
}
.soko p{
  line-height: 1.5;
  font-family: 'Times New Roman', Times, serif;
}
.demoimg{
  margin-top: 50px;
}
#portfolio h1{
  margin-top: 20px;
}
button{
  width: 10em;
  height: 2em;
  border: 0.5px solid rgb(200, 28green, 40);
  border-radius: 3px;
  margin-top: 20px;
}
button img{
  width: 15px;
}
#about{
  background-color: #57595d;
  text-align: center;
  margin-bottom: 0;
}
#about h1{
  color: #ffffff;
  margin-top: 50px;
  padding-top: 40px;
}
#about p{
  float: left;
  line-height: 2;
  color: #2f3038;
  text-align: center;
  margin: 120px auto auto 80px;
}
#contact{
  height: 300px;
  background-color:  #221f1f;
}